
.phone_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    flex:1
}
.phone_call{

}
.phone_icon{
    text-align: center;
}

.phone_call{
    margin-top: 80px;
    padding:0 40px;
}