.com_box{
    padding:30px 0 30px 0;
    background: #fff;
    margin-top: 20rpx;
}
.com_box_header{
    padding:20px 30px;
    display: flex;
    align-items: center;
    
}
.com_box_header_title{
    font-size:32px;
    color:#121C33;
    line-height: 34px;
    padding-left: 10px;
    border-left: 8px solid #387BE6;
    flex:1;
}
.com_box_header_link{
    font-size: 24px;
    color:#929FAD;
    line-height: 34px;
}
